{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="py-20">
    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 bg-frame-50">
        <h2 class="text-2xl md:text-3xl text-pr-900 font-semibold font-se pb-4 text-center ">
            Attractions & Accommodation
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10 py-8 ">


            {% for article in attractions_articles %}
            <!-- Card -->
            <div class="rounded-xl overflow-hidden shadow-lg">

                <a href="{% url 'attractions:attractions_detail' pk=article.pk %}"></a>
                <div class="relative">
                    {% if article.image %}
                    <a href="{% url 'attractions:attractions_detail' pk=article.pk %}">
                        <img class="w-full h-70 object-cover" src="{{ article.image.url }}" alt="{{ article.title }}">
                        {% else %}
                        <img class="w-full h-70 object-cover" src="{% static 'image/kecak.jpg' %}" alt="Default Image">
                        {% endif %}
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                </div>

                <div class="px-6 py-4">

                    <a href="{% url 'attractions:attractions_detail' pk=article.pk %}"
                        class="font-semibold font-se text-lg inline-block hover:text-pr-900 transition duration-500 ease-in-out">
                        {{ article.title|truncatechars:20 }}
                    </a>
                    <p class="text-gray-500 text-sm py-1 font-se text-justify line-clamp-2">
                        {{ article.description|truncatechars:50 }}
                    </p>

                    <a href="{% url 'attractions:attractions_detail' pk=article.pk %}" class="py-6">
                        <button type="button"
                            class="text-white mt-2 bg-pr-900 hover:bg-pr-900 focus:outline-none focus:ring-4 focus:ring-pr-900 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read More
                        </button>
                    </a>
                </div>
            </div>
            {% empty %}

            <div class="col-span-full text-center py-30">
                <p class="text-gray-500 text-xl font-se">There is currently no Attractions available.</p>
            </div>
            {% endfor %}
            <!-- End Card -->


        </div>
    </div>
</div>

{% endblock body %}