{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="py-20">
    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 bg-frame-50">
        <h2 class="text-2xl md:text-3xl text-pr-900 font-semibold font-se pb-4 text-center ">
            Attractions & Accommodation
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10 py-8 ">

            <!-- Card -->
            <div class="rounded-xl overflow-hidden shadow-lg">

                <a href="{% url 'attractions_detail' %}"></a>
                <div class="relative">
                    <a href="{% url 'attractions_detail' %}">
                        <img class="w-full h-70 object-cover" src="{% static 'image/kecak.jpg' %}"
                            alt="Sunset in the mountains">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                </div>

                <div class="px-6 py-4">

                    <a href="{% url 'attractions_detail' %}"
                        class="font-semibold font-se text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">
                        Kecak Dance</a>
                    <p class="text-gray-500 text-sm py-1 font-se text-justify line-clamp-2">
                        Tanah Lot Temple Holds Kecak Dance in the Coastal Area
                    </p>
                 
                    <a href="{% url 'attractions_detail' %}" class="py-4">
                        <button type="button"
                            class="text-white bg-pr-900 hover:bg-pr-900 focus:outline-none focus:ring-4 focus:ring-pr-900 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read More
                        </button>
                    </a>
                </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="rounded-xl overflow-hidden shadow-lg">

                <a href="{% url 'attractions_detail' %}"></a>
                <div class="relative">
                    <a href="{% url 'attractions_detail' %}">
                        <img class="w-full h-70 object-cover" src="{% static 'image/kecak.jpg' %}"
                            alt="Sunset in the mountains">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                </div>
                
                <div class="px-6 py-4">

                    <a href="{% url 'attractions_detail' %}"
                        class="font-semibold font-se text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">
                        Kecak Dance</a>
                    <p class="text-gray-500 text-sm py-1 font-se text-justify line-clamp-2">
                        Tanah Lot Temple Holds Kecak Dance in the Coastal Area
                    </p>
                 
                    <a href="{% url 'attractions_detail' %}" class="py-4">
                        <button type="button"
                            class="text-white bg-pr-900 hover:bg-pr-900 focus:outline-none focus:ring-4 focus:ring-pr-900 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read More
                        </button>
                    </a>
                </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="rounded-xl overflow-hidden shadow-lg">

                <a href="{% url 'attractions_detail' %}"></a>
                <div class="relative">
                    <a href="{% url 'attractions_detail' %}">
                        <img class="w-full h-70 object-cover" src="{% static 'image/kecak.jpg' %}"
                            alt="Sunset in the mountains">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                </div>
                
                <div class="px-6 py-4">

                    <a href="{% url 'attractions_detail' %}"
                        class="font-semibold font-se text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">
                        Kecak Dance</a>
                    <p class="text-gray-500 text-sm py-1 font-se text-justify line-clamp-2">
                        Tanah Lot Temple Holds Kecak Dance in the Coastal Area
                    </p>
                 
                    <a href="{% url 'attractions_detail' %}" class="py-4">
                        <button type="button"
                            class="text-white bg-pr-900 hover:bg-pr-900 focus:outline-none focus:ring-4 focus:ring-pr-900 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read More
                        </button>
                    </a>
                </div>
            </div>
            <!-- End Card -->



        </div>
    </div>
</div>

{% endblock body %}