{% load static %}
<aside id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-8 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <h1 class="font-se text-neu-800 text-sm">Menu</h1>
            <li>
                <a href="{% url 'article_data' %}" class="flex items-center p-2 rounded-lg group
                          {% if request.resolver_match.url_name == 'article_data' %}
                              bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white {% else %}
                              text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 {% endif %}">
                    <svg class="w-6 h-6 transition duration-75
                              {% if request.resolver_match.url_name == 'article_data' %}
                                  text-gray-900 dark:text-white {% else %}
                                  text-gray-800 dark:text-white group-hover:text-gray-900 dark:group-hover:text-white {% endif %}"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z" />
                    </svg>
                    <span class="ms-3 sidebar-menu-text font-se">Article Content</span>
                </a>
            </li>
            <li>
                <a href="{% url 'users_data' %}" class="flex items-center p-2 rounded-lg group
                          {% if request.resolver_match.url_name == 'users_data' %}
                              bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white {% else %}
                              text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 {% endif %}">
                    <svg class="w-6 h-6 transition duration-75
                              {% if request.resolver_match.url_name == 'users_data' %}
                                  text-gray-900 dark:text-white {% else %}
                                  text-gray-800 dark:text-white group-hover:text-gray-900 dark:group-hover:text-white {% endif %}"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                    </svg>
                    <span class="ms-3 sidebar-menu-text font-se">Users Data</span>
                </a>
            </li>
        </ul>
    </div>
</aside>