{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Halaman Tidak Ditemukan</title>
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
</head>
<body class="bg-white h-screen flex items-center justify-center">

    <div class="text-center">
        <h1 class="text-8xl lg:text-9xl font-black text-gray-200 animate-pulse">
            404
        </h1>
        <p class="text-2xl lg:text-3xl font-semibold text-gray-400 mt-2">
            Not Found
        </p>
    </div>

</body>
</html>