{% extends "base.html" %}
{% load static %}

{% block body %}

<!-- Main Content -->
<div class="container mx-auto px-6 md:px-20 lg:px-30 py-32 bg-frame-50">
    <!-- Article Content -->
    <div class="flex flex-col lg:flex-row gap-8">
        <div class="lg:w-2/3">
            <h1 class="text-2xl font-bold text-pr-900 mb-1 font-se ">Pakedungan Temple</h1>

            <div class="mt-6 ">
                <img src="{% static 'image/pura1.jpg' %}" alt="{{ article.title }}"
                    class="w-full h-auto rounded-lg shadow-md">
            </div>

            <div class="prose max-w-none  ">
                <p class="mt-4 text-justify font-se">
                    Pakendungan Temple is located on the northwest side of Tanah Lot Temple. The origin or history of
                    Pura Luhur Pakendungan
                    and Pura Luhur Tanah Lot, seems to come from one source. Because according to old manuscript
                    sources, the origins of Pura
                    Luhur Pakendungan and Pura Luhur Tanah Lot cannot be separated. </p>
                <p class="mt-4 text-justify font-se">Regarding the origin, the name of Pakendungan Luhur Temple has
                    three versions.</p>
                <p class="mt-4 text-justify font-se">First, according to folklore sources, as stated in the folklore of
                    Ki Bendesa Shakti Beraban, the name Pakendungan comes
                    from the word duwung, which is a holy kris named Ki Baru Gajah which is a gift from Dang Hyang
                    Nirartha Ida Pedanda Shakti Bawu
                    Rawuh(Dang Hyang Dwi Jendra). </p>
                <p class="mt-4 text-justify font-se">Second, the origin of the name Pakendungan comes from Rontal Dewa
                    Tattwa, one of the versions and visions of Dewa Tattwa, which
                    pantheonically and mythologically tells the history of the origin of the Tanah Lot Temple,
                    Pakendungan Temple comes from the word peken,
                    which later became pakendungan.</p>
                <p class="mt-4 text-justify font-se">Third, the origin of Pakendungan Temple comes from a holy journey,
                    dharmayatra Ida Pedanda Shakti Bawu Rawuh (Dang Hyang Nirartha),
                    from Rambut Siwi Temple, continued to Srijong Temple. From Rambut Siwi Temple, Pedanda Shakti Bawu
                    Rawuh saw the light burning brightly in
                    the South Sea, which is the location of Tanah Lot Temple and Pakendungan Temple in the present era.
                    After teaching the people around Rambut
                    Siwi Temple, about the tattwa of Shiva religion with its rituals, social life, farming, fishing, he
                    then left the community around Rambut
                    Siwi Temple, headed east through Srijong Temple and stopped to do Yoga Semadhi in Sanggulan which in
                    the present era the place where he
                    stopped was built a small temple with the name Pura Candi Desa Sanggulan. </p>
                <p class="mt-4 text-justify font-se">Then he continued his journey to Tanah Lot to find the source of
                    the holy light, he arrived at a dense forest precisely on the West
                    side of Tanah Lot. Dang Hyang Nirartha did Semadhi Yoga in that place. The dense forest was named
                    Alas Kendung. Where in this Alas Kendung
                    then built Pakendungan Temple.</p>
                <p class="mt-4 text-justify font-se">Pura Luhur Pakendungan in addition to functioning and domiciled as
                    Pura Dang Kahyangan also domiciled as Pengulun Subak Temple in Kediri
                    District. The Pujawali ceremony at Pakendungan Temple is on Saturday Kliwon, Kuningan coincides with
                    Kuningan Day and Tumpek Kuningan according
                    to the Balinese calendar.</p>


            </div>
        </div>

        <!-- Sidebar -->
        <div class="lg:w-1/3 py-15">
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-lg font-medium mb-4 font-se">Recent Post</h3>

                <a href="{% url 'penataranmadya' %}"
                    class="flex gap-3 mb-4 pb-4 {% if not forloop.last %}border-b border-gray-200{% endif %}">
                    <div class="w-24 h-16 overflow-hidden rounded">
                        <img src="{% static 'image/pura2.jpg' %}" alt="{{ post.title }}"
                            class="w-full h-full object-cover">
                    </div>
                    <div>
                        <h4 class="font-medium text-lg hover:text-pr-900 font-se">Penataran Madya Temple</h4>
                    </div>
                </a>

                <a href="{% url 'jrokandang' %}"
                    class="flex gap-3 mb-4 pb-4 {% if not forloop.last %}border-b border-gray-200{% endif %}">
                    <div class="w-24 h-16 overflow-hidden rounded">
                        <img src="{% static 'image/pura3.jpg' %}" alt="{{ post.title }}"
                            class="w-full h-full object-cover">
                    </div>
                    <div>
                        <h4 class="font-medium text-lg hover:text-pr-900 font-se">Jro Kandang Temple</h4>
                    </div>
                </a>

                <a href="{% url 'njunggaluh' %}"
                    class="flex gap-3 mb-4 pb-4 {% if not forloop.last %}border-b border-gray-200{% endif %}">
                    <div class="w-24 h-16 overflow-hidden rounded">
                        <img src="{% static 'image/pura4.jpg' %}" alt="{{ post.title }}"
                            class="w-full h-full object-cover">
                    </div>
                    <div>
                        <h4 class="font-medium text-lg hover:text-pr-900 font-se">Njung Galuh Temple</h4>
                    </div>
                </a>

                <a href="{% url 'batubolong' %}"
                    class="flex gap-3 mb-4 pb-4 {% if not forloop.last %}border-b border-gray-200{% endif %}">
                    <div class="w-24 h-16 overflow-hidden rounded">
                        <img src="{% static 'image/pura5.jpg' %}" alt="{{ post.title }}"
                            class="w-full h-full object-cover">
                    </div>
                    <div>
                        <h4 class="font-medium text-lg hover:text-pr-900 font-se">Batu Bolong Temple</h4>
                    </div>
                </a>

                <a href="{% url 'batumejan' %}"
                    class="flex gap-3 mb-4 pb-4 {% if not forloop.last %}border-b border-gray-200{% endif %}">
                    <div class="w-24 h-16 overflow-hidden rounded">
                        <img src="{% static 'image/pura6.jpg' %}" alt="{{ post.title }}"
                            class="w-full h-full object-cover">
                    </div>
                    <div>
                        <h4 class="font-medium text-lg hover:text-pr-900 font-se">Batu Mejan Temple</h4>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>





{% endblock body %}