{% load static %}

<div class="py-4 px-2 bg-gray-50 dark:bg-gray-800">
    <div class="relative max-w-4xl mx-auto">
        <form id="chat-form">
            <input type="text"
                class="w-full border border-pr-900 dark:border-pr-800 bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 rounded-full py-3 pl-5 pr-14 focus:outline-none focus:ring-2 focus:ring-pr-900 dark:focus:ring-pr-900 shadow-sm"
                placeholder="Ask more about Tanah Lot...">

            <button type="submit"
                class="absolute inset-y-0 right-0 flex items-center justify-center w-12 h-full text-neu-900 hover:text-pr-900 dark:hover:text-pr-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path
                        d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                </svg>
            </button>
        </form>
    </div>
</div>