{% extends "base.html" %}
{% load static %}

{% block body %}

<body class="overflow-x-hidden">
  <div class="py-12">
    <div class="bg-frame-50 w-screen p-8 sm:p-16 dark:bg-gray-900  ">
      <div class="p-4 mb-4 text-lg text-center leading-tight first-letter:capitalize font-medium dark:text-gray-100">
        <h2 class="text-2xl md:text-3xl text-pr-900 font-semibold font-se pb-4">
          News
        </h2>
      </div>
      <div class="mx-auto w-fit grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-6">


        {% for article in news_articles %}
        <!-- card -->
        <div>
          <a href="{% url 'news:news_detail' pk=article.pk %}">
            <div class="relative group bg-gray-200 w-80 h-[400px] shadow-lg rounded-2xl overflow-hidden">
              {% if article.image %}
              <img
                class="w-full h-full group-hover:h-64 object-cover bg-cover rounded-2xl transition-all delay-150 duration-300 ease"
                src="{{ article.image.url }}" alt="{{ article.title|truncatechars:20 }}" />
              {% else %}
              <img
                class="w-full h-full group-hover:h-64 object-cover bg-cover rounded-2xl transition-all delay-150 duration-300 ease"
                src="{% static 'image/card1.jpg' %}" />
              {% endif %}
              <div
                class="bg-gray-100 w-full h-40 absolute left-0 bottom-0 -mb-44 group-hover:mb-0 rounded-b-2xl transition-all delay-150 duration-300 ease dark:bg-gray-700">
                <div class="p-6">
                  <div class="capitalize flex items-center justify-between gap-4">
                    <div>
                      <h2 class="text-pr-900 text-md font-bold font-se">{{ article.title|truncatechars:20 }}</h2>
                      <p class="dark:text-gray-100 line-clamp-1 font-se">{{ article.description|truncatechars:40 }}</p>
                    </div>
                  </div>
                  <div class="block mt-4">
                    <div class="absolute bottom-2 left-5">
                      <a href="{% url 'news:news_detail' pk=article.pk %}">
                        <button
                          class="bg-pr-900 text-gray-100 font-medium py-2.5 px-4 rounded-xl opacity-90 hover:opacity-100 font-se">
                          Read More
                        </button>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <h1 class="py-6 text-center font-se text-xl font-medium text-neu-800 ">{{ article.title|truncatechars:20 }}
          </h1>
        </div>
        {% empty %}

        <div class="col-span-full text-center py-30">
          <p class="text-gray-500 text-xl font-se">There is currently no News available.</p>
        </div>
        {% endfor %}
        <!-- end card -->



      </div>
    </div>
  </div>
  {% endblock body %}