{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="bg-frame-50 py-10 px-4 sm:px-10 mb-25">
  <div class="section-title text-center mb-12">
    <h2 class="text-2xl md:text-3xl text-pr-900 font-semibold font-se pb-4 mt-18">
      Facilities
    </h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-16 mt-10 max-w-6xl mx-auto">
    <!-- Parking Area -->
    <div class="flex bg-white rounded-lg shadow-md overflow-hidden">
      <img src="{% static 'image/parking.png' %}" alt="Parking Area" class="w-1/2 object-cover">
      <div class="p-4">
        <h3 class="text-lg font-semibold font-se">Parking Area</h3>
        <p class="text-gray-600 text-sm mt-1 font-se">
          The temple have a big parking area for your vehicles car or motorcycle
        </p>
      </div>
    </div>

    <!-- Public Bathroom -->
    <div class="flex bg-white rounded-lg shadow-md overflow-hidden">
      <img src="{% static 'image/bathroom.png' %}" alt="Public Bathroom" class="w-1/2 object-cover">
      <div class="p-4">
        <h3 class="text-lg font-semibold font-se">Public Bathroom</h3>
        <p class="text-gray-600 text-sm mt-1 font-se">
          A clean toilet provides comfort and convenience for our guests.
        </p>
      </div>
    </div>

    <!-- Hand Washing -->
    <div class="flex bg-white rounded-lg shadow-md overflow-hidden">
      <img src="{% static 'image/hand-washing.png' %}" alt="Hand Washing" class="w-1/2 object-cover">
      <div class="p-4">
        <h3 class="text-lg font-semibold font-se">Hand washing</h3>
        <p class="text-gray-600 text-sm mt-1 font-se">
          Hand washing facilities provide comfort and convenience for our guests.
        </p>
      </div>
    </div>

    <!-- Parking Area (Duplicate) -->
    <div class="flex bg-white rounded-lg shadow-md overflow-hidden">
      <img src="{% static 'image/IKM-Corner.png' %}" alt="Parking Area" class="w-1/2 object-cover">
      <div class="p-4">
        <h3 class="text-lg font-semibold font-se">IKM Corner</h3>
        <p class="text-gray-600 text-sm mt-1 font-se ">
          The IKM Corner is a form of government cooperation and support <br>to crafters in the small and medium business scale as a place to display, <br> exhibit and promote their products to tourists.
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}