{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="max-w-6xl mx-auto p-8">

      <h1 class="font-primary text-3xl font-bold mb-6 text-left mt-20 pt-10 text-blue-900">History of Tanah Lot Temple</h1>

      <img src="{% static 'image/news1.png' %}" alt="Tanah Lot Temple" class="w-full h-auto rounded-lg mb-6" />

      <p class="mb-4">
        Tanah Lot Temple is a famous sea temple located on a rock formation off the coast of Bali, in Beraban village, Tabanan. It is one of Bali’s most iconic spiritual sites, especially known for its stunning sunset views. According to legend, the temple was founded in the 16th century by a Hindu priest named Dang Hyang Nirartha. During his journey to spread Hinduism across Bali, he discovered the rock island and felt it was a sacred place to worship the sea god, Dewa Baruna.
      </p>

      <p class="mb-4">
        When local villagers tried to drive him away, Nirartha used his spiritual powers to move the rock into the sea and created a holy snake from his sash to guard the site. The villagers, amazed by his power, eventually accepted his teachings and built the temple to honor the sea god. The Tanah Lot area itself is 2.85 hectares and includes a temple, housing, tourist accommodation, offices, gardens, courts, parking lots, rice fields and roads. The history refers to several sources, namely:
      </p>

      <ol class="list-decimal list-inside space-y-4 mb-4">
        <li>
          <strong>According to Rontal Dewa Tattwa</strong>: The meaning and history of the Tanah Lot Temple is in the pantheon that the location of the temple comes from pieces of the mountain of India thrown into the sea. This concept is in line with the content of the Babad Bali Mula, which also mentions that some of the coral island is presented in the Rontal Babad Gagak Madu.
        </li>

        <li>
          <strong>According to the Rontal Dwijendra Tattwa</strong>: During the Majapahit Kingdom in East Java, there was a holy Hindu priest, named “Dang Hyang Dwijendra” or “Dang Hyang Nirartha”. He was appreciated and respected by the king and the people through his spiritual teachings. He was well known for teaching Hinduism – Dharma Yatra (ascetic pilgrimage). In Lombok, he was called “Tuan Semeru” due to their view from Semeru. “Semeru” is the name of an active volcano in East Java.
        </li>

        <li>
          <strong>Local Beliefs</strong>: The priest continued his journey to the east and made another stop at Beraban village. Beraban village was ruled by “Bendesa Sakti Beraban”. He heard people called him a magic priest. He then wanted to expel Nirartha. Nirartha demonstrated his magic and moved a rock to the sea and created a snake from his sash.
        </li>

        <li>
          <strong>About the "Keris" tradition</strong>: Until now that “Keris”, named “Kris Ki Baru Gajah” has been considered sacred. Every 210 days (on the temple festival), the holy Kris is carried in procession from Kediri to Pekendungan temple about 11 kilometers.
        </li>
      </ol>

      <p>
        The legend of the local people that Dang Hyang Nirartha protected himself by moving part of the rock where he was seated and became a small floating island. When the rock moved to the sea, that small island is called “Tanah Lot”.
      </p>
    </div>

{% endblock body %}