{% extends "base.html" %}
{% load static %}

{% block body %}

<section class="bg-frame-50 dark:bg-gray-900 py-20">
    <div class="flex flex-col items-center justify-center px-6 py-10 mx-auto md:h-screen lg:py-0">

        <div
            class="w-full bg-white rounded-2xl shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 sm:p-8">
                <h1 class="font-primary text-pr-900 text-center font-semibold text-3xl">
                    Register
                </h1>
                <h1 class="font-se text-neu-900 font-bold text-xl mt-6">
                    Welcome To Tanah Lot
                </h1>
                <h1 class="font-se text-neu-700 font-medium text-lg">
                    Register to create your account
                </h1>
                <form class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <label for="name"
                            class="block mb-2 text-base font-medium text-neu-800 dark:text-white mt-4 font-se">Username</label>
                        <input type="text" name="name" id="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-pr-900 focus:border-pr-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Enter a username" required="">
                    </div>
                    <div>
                        <label for="email"
                            class="block mb-2 text-base font-medium text-neu-800 dark:text-white mt-4 font-se">Email</label>
                        <input type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-pr-900 focus:border-pr-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Enter email" required="">
                    </div>
                    <div>
                        <label for="number"
                            class="block mb-2 text-base font-medium text-neu-800 dark:text-white mt-4 font-se">Phone Number</label>
                        <input type="text" name="phone-input" id="phone-input"
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-pr-900 focus:border-pr-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Enter a phone number" required="">
                    </div>

                    <div>
                        <label for="password"
                            class=" font-se block mb-2 text-base font-medium text-neu-800 dark:text-white">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-pr-900 focus:border-pr-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required="">
                    </div>
                    <button type="submit"
                        class="w-full bg-pr-900 mt-2 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        SIGN UP
                    </button>
                    <p class="font-se text-sm font-light text-gray-500 dark:text-gray-400 text-center">
                        Already have an account? 
                        <a href="{% url 'login' %}" 
                            class="font-medium text-pr-900 hover:underline dark:text-pr-700">
                            Login
                        </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock body %}