{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% include "snippets/styles.html" %}
    <link rel="icon" href="{% static 'image/iconhead1.png' %}">
    <title>{{ judul}}</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body>


    {% include "snippets-dashboard/navbar.html"%}

    {% include "snippets-dashboard/sidebar.html"%}


    <div id="main-content" class=" p-4 sm:ml-64 transition-all duration-200 ease-in-out py-20  h-auto bg-frame-50">
        <div class="p-2">
            {% block body %}

            {% endblock body %}

        </div>

    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3500, // Notifikasi akan hilang setelah 3.5 detik
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });

            {% for message in messages %}
                Toast.fire({
                    icon: '{{ message.tags }}',
                    title: '{{ message }}'
                });
            {% endfor %}
        });
    </script>
    {% endif %}
    
    {# Ini script Anda yang sudah ada #}
    {% include "snippets/scripts.html"%}

    
</body>

</html>