{% extends "dashboard.html" %}
{% load static %}

{% block body %}
<div class="px-4 sm:px-6 lg:px-8 py-6 w-full max-w-9xl mx-auto">

    <div class="sm:flex sm:justify-between sm:items-center mb-6 ">

        <div class="mb-4 sm:mb-0">
            <h1 class="text-2xl md:text-3xl text-dark-primary dark:text-gray-100 font-bold font-se">
                Change Password
            </h1>
        </div>
    </div>
</div>


<!-- form -->



<form class="w-full space-y-8" method="POST" action="#" enctype="multipart/form-data ">
    {% csrf_token %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="md:col-span-1 space-y-6">
            <div class="bg-white dark:bg-gray-800 p-6 rounded-xl shadow-lg">

                <div class="mt-4">
                    <label for="description"
                        class=" py-1 block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 font-se">Current
                        Password<span class="text-red-500">*</span></label>
                    <input type="password" id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pr-900 focus:border-pr-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pr-900 dark:focus:border-pr-900"
                        placeholder="Enter current password" required />
                </div>

                <div class="mt-4">
                    <label for="description"
                        class=" py-1 block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 font-se">New
                        Password<span class="text-red-500">*</span></label>
                    <input type="password" id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pr-900 focus:border-pr-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pr-900 dark:focus:border-pr-900"
                        placeholder="Enter new password" required />
                </div>

                <div class="mt-4">
                    <label for="description"
                        class=" py-1 block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 font-se">Confirm
                        Password<span class="text-red-500">*</span></label>
                    <input type="password" id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pr-900 focus:border-pr-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pr-900 dark:focus:border-pr-900"
                        placeholder="Enter confirm password" required />
                </div>

            </div>

        </div>

    </div>

    <div class="flex items-center justify-start space-x-3 pt-2">
        <a href="{% url 'article_data' %}"
            class="px-5 py-2.5 text-sm font-se font-medium text-white bg-pr-900 hover:bg-pr-900 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-xl text-center dark:bg-pr-900 dark:hover:bg-pr-900 dark:focus:ring-pr-900">
            Change Password
        </a>
        <a href="{% url 'article_data' %}"
            class="font-medium rounded-xl font-se text-sm px-5 py-2.5 text-center  text-pr-900 hover:text-white border border-pr-900 hover:bg-pr-900 focus:ring-4 focus:outline-none focus:ring-pr-900  dark:border-pr-900 dark:text-pr-900 dark:hover:text-white dark:hover:bg-pr-900 dark:focus:ring-pr-900">
            Cencel
        </a>
    </div>
</form>



{% endblock body %}